<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New training</title>
</head>
<body>
<h1>New training</h1>
<form action="/processAdd">
    <p><label for="code">code</label><input name="code" id="code" type="text"></p>
    <p><label for="title">title</label><input name="title" id="title" type="text"></p>
    <p><label for="theme">theme</label><input name="theme" id="theme" type="text"></p>
    <p><label for="duration">duration</label><input name="duration" id="duration" type="number"></p>
    <p><label for="max">max</label><input name="max" id="max" type="number"></p>
    <button type="submit">Save</button>
</form>
<a href="/">Home</a>
</body>
</html>
