<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Search and choose the training you wish to follow below......</p>
<div style="margin-top:2rem;">
    <a  href="/byTheme"><button>Training by theme</button>
    </a>
</div>
<div style="margin-top:2rem;">
    <a href="/search"><button>Advanced search</button></a>
</div>
<a href="/listOfTrainings">Admin</a>
</body>
</html>
