<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<form action="processCreateCashPayment">
    <p><label for="amount">amount </label><input id="amount" name="amount" type="text"></p>
    <p><label for="currency">currency: </label><input id="currency" name="currency" type="text"></p>
    <p><label for="beneficiary">beneficiary</label><input name="beneficiary" id="beneficiary" type="text"></p>
    <p><label for="name">name: </label><input name="name" id="name" type="text"></p>
    <button type="submit">save</button>
</form>
</body>
</html>
