<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<p>

</p>
<form action="/start">

    <p>
        <input type="submit" value="singletontest" name="singletontest"/>
    </p>
    <p>
        <input type="submit" value="observertest" name="observertest"/>
    </p>
    <p>
        <input type="submit" value="strategytest" name="strategytest"/>
    </p>
    <p>
        <input type="submit" value="decoratortest" name="decoratortest"/>
    </p>

</form>
</body>
</html>
