<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>

<h1><span th:text="${training.getTitle()} + ' (' + ${training.getCode()} + ')'"></span></h1>

<p th:text="${training.getTheme()}"></p>
<p th:text="${training.getDuration()} + ' days'"></p>
<p th:text="'maximum ' + ${training.getMax()} +  ' participants'"></p>

<p>
    <a href="/admin">Back to list</a> <a href="/">Home</a>
</p>

</body>
</html>