<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Edit training</h1>

<form th:action="@{/processEditTraining(trainingId=${training.getId()})}" method="post">
    <p>
        <label for="code">Code:</label>
        <input type="text" name="code" id="code" th:value="${training.getCode()}">
    </p>
    <p>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" th:value="${training.getTitle()}">
    </p>
    <p>
        <label for="theme">Theme: </label>
        <input type="text" name="theme" id="theme" th:value="${training.getTheme()}">
    </p>
    <p>
        <label for="duration">Duration: </label>
        <input type="number" name="duration" id="duration" th:value="${training.getDuration()}">
    </p>
    <p>
        <label for="max">Max amount of participants: </label>
        <input type="number" name="max" id="max" th:value="${training.getMax()}">
    </p>
    <p>
        <input type="submit" value="Save" name="save">
    </p>
</form>

</body>
</html>