<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome!</h1>

<p>Search and choose the training you wish to follow below...</p>

<form action="/sort">
    <p>
        <input type="submit" value="Training by theme" name="searchTheme">
    </p>
</form>

<p>
    <a href="/search"><button>Advanced search</button></a>
</p>

<p>
    <a href="/admin">Admin</a>
</p>


</body>
</html>