<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Modify training</h1>
<form th:action="@{/processEdit(id=${training.getId()})}" method="post">
    <p><label for="code">Code: </label><input type="text" id="code" name ="code" th:value="${training.getCode()}"></p>
    <p><label for="title">Title: </label><input type="text" id="title" name ="title" th:value="${training.getTitle()}"></p>
    <p><label for="theme">Theme: </label><input type="text" id="theme" name ="theme" th:value="${training.getTheme()}"></p>
    <p><label for="duration">Duration: </label><input type="number" id="duration" name ="duration"  th:value="${training.getDuration()}"></p>
    <p><label for="max">Max: </label><input type="number" id="max" name ="max"  th:value="${training.getMax()}"></p>
    <button type="submit">Dave</button>
</form>
<a href="/">Home</a>
</body>
</html>
