<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome!</title>
</head>
<body>
<h1>Welcome!</h1>
<p>Search and choose the training you wish to follow below......</p>
<form action="/byTheme" method="get"><button type="submit">Training by theme</button></form>

<form action="/byTheme" method="get"><button type="submit">Advanced search</button></form>

<a href="/trainings">Admin</a>
</body>
</html>
