<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Search training</h1>
<form action="/searchTitle">
    <p>
        <label for="title"></label>
        <input id="title" name="title" type="text">
        <button type="submit">Search on title</button>
    </p>
</form>
<form action="/searchTheme">
    <p>
        <label for="theme"></label>
        <select name="theme" id="theme" >

            <option>Choose your theme here</option>
            <option th:each="training : ${trainings}" th:text="${training.getTheme()}"></option>
        </select>
        <button type="submit">Search on theme</button>
    </p>
</form>
</body>
</html>
