<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Events</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Location</th>
        <th>Club</th>
        <th>Edit</th>
    </tr>
    <tr th:each="event : ${eventList}">
        <td th:text="${event.getName()}"></td>
        <td th:text="${event.getYear()}"></td>
        <td th:text="${event.getLocation()}"></td>
        <td th:text="${event.getClub().getName()}"></td>
        <td><a th:href="@{/editEvent(eventId = ${event.getId()})}">edit</a></td>
    </tr>
</table>
<a href="/">Home</a>
</body>
</html>