<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Joggers</h1>
<table>
    <tr>
        <th>Bib number</th>
        <th>Name</th>
        <th>Club</th>
        <th>Delete</th>
    </tr>
    <tr th:each="jogger : ${joggerList}">
        <td th:text="${jogger.getBibNumber()}"></td>
        <td th:text="${jogger.getName()}"></td>
        <td th:text="${jogger.getClub().getName()}"></td>
        <td><a th:href="@{/deleteJogger(joggerId = ${jogger.getId()})}">delete</a></td>
    </tr>
</table>
<a href="/">Home</a>
</body>
</html>