<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Index</title>
</head>
<body>
<a href="results">Results</a>
<a href="paymentsAscending">payments ascending</a>
<a href="cash">cash</a>
<a href="electronic">electronic</a>
<form action="greaterPayments">
    <p><label for="amount">Amount: </label><input type="number" name="amount" id="amount"></p>
    <button type="submit">List of all payments above a certain amount</button>
</form>
<a href="createCashPayment">creazte</a>
</body>
</html>
