<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Course information</title>
</head>
<body>

<h3>Course</h3>
<p th:text="${'Name: '+ course.getName()}"></p>
<p th:text="${'Location: '+ course.getLocation()}"></p>
<p th:if="${course.isWeekly()}" text="This is a weekly course, starting on " + ${course.getStartDate().format(formatter)} +
 " running for " + ${course.getNumberOfDays()} + " weeks. "></p>
<p th:if="${!course.isWeekly()}" text="${'This course starts on ' + course.getStartDate().format(formatter)+
 ' and runs for '+ course.getNumberOfDays()+ ' days. '}"></p>


<p><a href="/static">Back</a></p>
</body>
</html>
