<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Associations</title>
</head>
<body>
<h1>Make a phonenumber for a person</h1>

<form action="/processAddPhone" method="post">
    <p>
        <select name="personIndex">
            <option th:each= "person: ${personList}" th:text="${person.toString()}" th:value="${person.getId()}"  ></option>
        </select>
    </p>

    <p>
        <label for="type">Type:</label>
        <input type="text" name="type" id="type">
    </p>

    <p>
        <label for="number">Number:</label>
        <input type="text" name="number" id="number">
    </p>

    <p>
        <input type="submit" value="make phonenbr" name="make phonenbr">
    </p>
</form>
</body>
</html>


