<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Associations</title>
</head>
<body>
<h1>Make Team</h1>

<form action="/processAddTeam" >
    <p>
        <label for="assignment">Assignment:</label>
        <input type="text" name="assignment" id="assignment">
    </p>
    <p>
        <label for="number">Number:</label>
        <input type="text" name="number" id="number">
    </p>
    <p>
        <input type="submit" value="Save" name="save">
    </p>
</form>
</body>
</html>

