<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Input course details</title>
</head>
<body>
<form action="/courseinfo">
    <h1>Please enter the course details</h1>
    <p>
        <label for="name">Course name</label>
        <input type="text" id="name" name="name"/>
    </p>
    <p>
        <label for="location">Location</label>
        <input type="text" id="location" name="location"/>
    </p>
    <p>
        <label for="startdate">Startdate (DD/MM/YYYY)</label>
        <input type="text" id="startdate" name="startdate"/>
    </p>
    <p>
        <label for="days">Number of days</label>
        <input type="text" id="days" name="days"/>

        <input type="checkbox" id="weekly" name="weekly"/>
        <label for="weekly">weekly</label>
    </p>
    <button type="submit">Register a new course</button>
</form>
</body>
</html>
